.sidebar {
    height: 100dvh;
}

.sidebar img {
    width: 20px;
}

.recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    border-radius: 50px;
    color: #282822;
    cursor: pointer;
    padding: 10px;
    transition-duration: 0.3s;

    &:hover {
        background-color: #e2e6eb;
    }
}